<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePattern()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
<div id="main" class="main">

  <div id="pattern">
    <input type="password" id="password" name="password" class="patternlock" />
    <input type="submit" value="login"/>
  </div>


</div>

<div id="alert"></div>

<script>
   console.log("TEST");
</script> 
<script src="lib/patternlock.js"></script>


</form>
  </ion-content>
</div>
