<ion-view title="Service">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<ion-nav-view animation="slide-left-right"></ion-nav-view>
  <ion-content class="has-header">
    <h1>{{currentService.name}}</h1>
    <form>
<div id="main" class="main">
  This is my password: {{servicePassword.name}}
  This is a new line:
  <div id="pattern">
    <input type="text" id="password"  value="00000" ng-model="servicePassword.name" name="password" class="patternlock" />
    <input type="submit" id="submitButton" value="login" ng-click="showServicePassword()" href="#/app/services"/>
  </div>


</div>

<div id="alert"></div>

<script>
   console.log("TEST");
</script> 
<script src="lib/patternlock.js"></script>


</form>
  </ion-content>
</ion-view>
