<div class="modal">
  <ion-header-bar>
    <h1 class="title">Add Service</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSetPassword()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="setPassword()">
      <div class="list">
        old Password:
        {{$storage.masterPassword.name}}
        new Password:
        {{masterPassword.name}}
        <label class="item item-input">
          <span class="input-label">Masterpassword</span>
          <input type="text" ng-model="masterPassword.name">
        </label>
        
        <label class="item">
          <button class="button button-block button-positive" type="submit">Set Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>

