<ion-view title="Services">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<ion-nav-view animation="slide-left-right"></ion-nav-view>

  <ion-content class="has-header">
    <ion-list option-buttons="itemButtons">
      <ion-item ng-repeat="site in sites" item="site" href="#/app/sites/{{site.id}}">
          <h2>{{site.name}}</h2>
          <ion-option-button ng-click="edit(site)">
              Edit
          </ion-option-button>
      </ion-item>
    </ion-list>
      <!-- DEBUG
      Storage: {{$storage}} <br/>
      Configuration Length:{{configuration.passwordLength}}
      -->
  </ion-content>
</ion-view>
