<div class="modal">
  <ion-header-bar>
    <h1 class="title">Password Config</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeConfPassword()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Password length</span>
          <input type="number" ng-model="$storage.configuration.passwordLength">
            </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="closeConfPassword()">Close</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>

